<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <base href="/">
        <link rel="icon" href="data:,">
        <title>Vue in Vue</title>
    </head>
    <body>
        <div id="core-mount"></div>
    </body>
</html>
